@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "tailwind-scrollbar";
@plugin "daisyui" {
  themes: pastel --default, synthwave --prefersdark, cyberpunk;
}

@theme {
  --font-monst-alter: "Montserrat Alternates", sans-serif;
  --breakpoint-xm: 56rem; /* 896px */
  --breakpoint-xs: 32rem; /* 512px */
  --breakpoint-xxs: 24rem; /* 384px */
}

@layer base {
  html {
    @apply overflow-y-scroll scrollbar-thin;
  }
  body {
    @apply font-monst-alter;
  }
}

@layer componenets {
  /* Quizzes Page */
  .quizzes-page-tab {
    @apply p-3 cursor-pointer flex-1 flex flex-row items-center max-md:justify-center transition-all duration-200 ease-in-out select-none;
  }
  .tab-selected {
    @apply bg-secondary hover:bg-secondary text-base-100 text-base;
  }
}

@layer utilities {
  .tranall-inout-200 {
    @apply transition-all duration-200 ease-in-out;
  }
}