@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "tailwind-scrollbar";
@plugin "daisyui" {
  themes: pastel --default, synthwave --prefersdark;
}

@theme {
  --font-monst-alter: "Montserrat Alternates", sans-serif;
  --breakpoint-xm: 56rem; /* 896px */
  --breakpoint-xs: 32rem; /* 512px */
  --breakpoint-xxs: 24rem; /* 384px */
}

@layer base {
  html {
    @apply overflow-y-scroll scrollbar-thin;
  }
  body {
    @apply font-monst-alter;
  }
  li {
    @apply active:bg-transparent;
  }
  li a {
    @apply active:bg-transparent;
  }
}

@layer componenets {
  /* Quizzes Page */
  .quizzes-page-tab {
    @apply p-3 cursor-pointer flex-1 flex flex-row items-center max-md:justify-center transition-all duration-200 ease-in-out select-none gap-x-0;
  }
  .tab-selected {
    @apply bg-secondary hover:bg-secondary text-secondary-content text-base font-bold;
  }
  .menu li > *:not(ul):not(.menu-title):not(details):active {
    @apply bg-transparent;
  }
  .input,.label,.textarea,.select {
    @apply focus-within:outline-0 focus-within:ring-0 focus:outline-0 focus:ring-0;
  }
}

@layer utilities {
  .tranall-inout-200 {
    @apply transition-all duration-200 ease-in-out;
  }
  .hvr-underline-from-center {
    @apply inline-block align-middle perspective-[1px] translate-z-0 shadow-[0_0_1px_rgba(0,0,0,0)] relative overflow-hidden before:content-[''] before:absolute before:z-[-1] before:left-[51%] before:right-[51%] before:bottom-0 before:bg-accent before:h-[4px] before:transition-[left_right] before:duration-300 before:ease-out hover:before:left-0 hover:before:right-0 focus:before:left-0 focus:before:right-0 active:before:left-0 active:before:right-0;
  }
  .grphvr-underline-from-center {
    @apply inline-block align-middle perspective-[1px] translate-z-0 shadow-[0_0_1px_rgba(0,0,0,0)] relative overflow-hidden before:content-[''] before:absolute before:z-[-1] before:left-[51%] before:right-[51%] before:bottom-0 before:bg-accent before:h-[4px] before:transition-[left_right] before:duration-300 before:ease-out group-hover:before:left-0 group-hover:before:right-0 group-focus:before:left-0 group-focus:before:right-0 group-active:before:left-0 group-active:before:right-0
  }
}